[submodule "Hitomi_Downloader"]
	path = Hitomi_Downloader
	url = https://github.com/ACBAD/Hitomi_Downloader.git
[submodule "LanZouCloud-API"]
	path = LanZouCloud-API
	url = https://github.com/ACBAD/LanZouCloud-API.git
