<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Tags</title>
</head>
<style>
    body{
        background-color: #1e1f22;
        color: white;
    }
</style>
<body>
    <form id="tags-container" action="{{ url_for('log_comic') }}" method="post">
        {% for tag in tag_list %}
            {% if tag[0] != None %}
                <!-- 如果 group_id 已经存在，则添加隐藏字段 -->
                <input type="hidden" name="group_id_{{ loop.index }}" value="{{ tag[0] }}">
            {% else %}
                <!-- 如果 group_id 不存在，允许用户输入 -->
                <label for="group-id-inputer-{{ loop.index }}">输入tag组id: </label>
                <input id="group-id-inputer-{{ loop.index }}" name="group_id_{{ loop.index }}" required>
            {% endif %}
            <label for="tag-name-inputer-{{ loop.index }}">{{ tag[1] }}: </label>
            <input id="tag-name-inputer-{{ loop.index }}" name="tag_name_{{ loop.index }}" required>
            <input type="hidden" name="hitomi_name_{{ loop.index }}" value="{{ tag[1] }}">
        {% endfor %}
        <input type="hidden" name="comic_id" value="{{ comic_id }}">
        <br>
        {{ origin_title }}
        <br>
        <label for="comic-log-name">输入要录入的名字: </label>
        <input id="comic-log-name" name="comic_name" required>
        <button type="submit">提交</button>
    </form>
</body>
</html>