<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图像输入页面</title>
</head>
<style>
    body{
        background-color: #1e1f22;
        color: white;
    }
</style>
<body>
    <form id="comic-id" action="{{ url_for('log_comic') }}" method="get">
        <label for="comic-id-inputer">Comic id: </label>
        <input id="comic-id-inputer" name="comic_id" required>
        <button type="submit">提交</button>
    </form>
</body>
</html>
